---
import BaseLayout from "@/layouts/BaseLayout.astro";
import EntriesOne from "@/components/entries/EntriesOne.astro";
import Hero from "@/components/landing/Hero.astro";
import Cta from "@/components/global/Cta.astro";

const res = await fetch("https://igazino.hu/wp-json/wp/v2/posts?_embed");
const posts = await res.json();
const res2 = await fetch("https://igazino.hu/wp-json/wp/v2/categories?_embed&exclude[0]=1&exclude[1]=1186");
const cats = await res2.json();
---

<BaseLayout>
  <Hero />
  <section>
    <div class="px-8 md:px-12 mx-auto max-w-7xl py-12 lg:px-32">

      <ol role="list" class="flex flex-wrap gap-3">
        {
          cats.map((cat) => (
            <li class="inline-flex items-center uppercase mx-auto hover:text-blue-500 text-xs font-medium text-black">
              <a href={`/rovat/${cat.slug}`}>{cat.name}</a>
            </li>
          ))
        }
      </ol>
      
      <ul
        class="grid grid-cols-1 mt-12 gap-1 gap-y-24 lg:grid-cols-3 sm:grid-cols-2"
      >
        {
          posts.map((post) => (
            <EntriesOne
              url={"/posts/" + post.slug}
              title={post.title.rendered}
              description={post.excerpt.rendered}
              alt={post.title.rendered}
              pubDate={post.date.toString().slice(0, 10)}
              author={post._embedded.author[0].name}
              image={post._embedded['wp:featuredmedia'][0].media_details.sizes.thumbnail.source_url}
              tag={post._embedded['wp:term'][0][0].name}
            />
          ))
        }
      </ul>
    </div>
  </section>
  <Cta />
</BaseLayout>
